src/test/resources/schema_valid_xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="current">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="city">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="coord">
                                <xs:complexType>
                                    <xs:attribute name="lon" type="xs:decimal" use="required" />
                                    <xs:attribute name="lat" type="xs:decimal" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="country" type="xs:string" />
                            <xs:element name="timezone" type="xs:unsignedShort" />
                            <xs:element name="sun">
                                <xs:complexType>
                                    <xs:attribute name="rise" type="xs:dateTime" use="required" />
                                    <xs:attribute name="set" type="xs:dateTime" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="temperature">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                        <xs:attribute name="min" type="xs:decimal" use="required" />
                        <xs:attribute name="max" type="xs:decimal" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="feels_like">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="humidity">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="pressure">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="wind">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="speed">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:decimal" use="required" />
                                    <xs:attribute name="unit" type="xs:string" use="required" />
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="gusts" />
                            <xs:element name="direction" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="clouds">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="visibility">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="precipitation">
                    <xs:complexType>
                        <xs:attribute name="mode" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="weather">
                    <xs:complexType>
                        <xs:attribute name="number" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                        <xs:attribute name="icon" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="lastupdate">
                    <xs:complexType>
                        <xs:attribute name="value" type="xs:dateTime" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>